{% extends 'base.html' %}
{% block body_block %}


<div class="container my-5">

    <h2 class="my-5">Featured Books</h2>
    <div class="row">
        {% for product in object_list %}
        {% if product.isPublished %}
        <div class="col-md-6 col-sm-12 col-lg-3">
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="/media/{{product.mainimage}}" style="width:200px; height: 300px;">
                </div>
                <figcaption class=" info-wrap">
                    <h5 class="title"><a href="{% url 'App_Shop:product_detail' pk=product.pk %}">{{product.name}}</a>
                    </h5>

                    <span>written by, </span>
                    {% for author in product.authors.all %}
                    <h6 class="title" style="font-size: 15px;"><a
                            href="{% url 'App_Shop:author' pk=author.pk %}">{{author.name}} </a>
                    </h6>
                    {% endfor %}
                    </h6>
                    <div class="action-wrap">
                        <div class="price-wrap h5">
                            <span class="price-new">&#2547; {{product.price|floatformat:2}}</span>
                            <span class="price-old"><strike>&#2547; {{product.old_price|floatformat:2}}</strike></span>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock body_block %}